body {
    margin: 0;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    font-family: "Karla", sans-serif;;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    padding: 0;
    border-color: #273549;
}

.green-text {
    color: #4adf86;
}

#generate-passwords-btn {
    background-color: #10B981;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}

#password-1,
#password-2 {
    background-color: #273549;
    color: #4adf86;
    border: none;
    border-radius: 4px;
    margin: 0;
    padding: 8px 25px;
    min-width: 150px;
    min-height: 15px;
}

#heading {
    color: white;
    font-weight: bolder;
    margin: 0;
    width: 290px;
}

#supporting-text {
    color: #d1d5db;
    margin: 0 0 30px 0;
}

#passwords-container {
    display: flex;
    gap: 15px;
}


